/**
 * This file is part of GETARI.
 *
 * GETARI is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * GETARI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Foobar.  If not, see <https://www.gnu.org/licenses/>.
 */
/*
 * @see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 * $Id$
 */

*.root {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: green;
/*     -fx-accent: #88a282; */
/* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #314882;
}

.application {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width:2px;
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: Arial;
}
.label.about-application-name {
    -fx-font-size: 26px;
    -fx-font-family: Arial;
        -fx-font-weight: bold;
}
.label.about-doi {
    -fx-cursor: hand;
}
.label.about-doi:hover {
    -fx-underline: true;
}

.dialog-pane .button,
.button,
.split-menu-button > .arrow-button,
.split-menu-button > .label {
    -fx-background-color:
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}

.dialog-pane .button,
.button,
.split-menu-button {
    -fx-font-size: 12px;
    -fx-background-insets: 4,5;
    -fx-background-radius: 5,4;
    -fx-text-fill: #333333;
}

.dialog-pane .button,
.button {
    -fx-padding: 10 15 10 15;
}

.dialog-pane .button:hover,
.button:hover,
.split-menu-button > .arrow-button:hover,
.split-menu-button > .label:hover {
    -fx-background-color: gray,#EEEEEE;
    -fx-cursor: hand;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.split-menu-button {
    -fx-background-color:
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 5 5 5 5;
}

.split-menu-button > .arrow-button,
.split-menu-button > .label {
    -fx-border-color: #f4f4f4;
    -fx-background-insets: 0;
    -fx-background-radius: 5,4;
}

.combo-box {
    -fx-font-size: 12px;
    -fx-background-color:
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 4,5;
    -fx-background-radius: 5,4;
    -fx-padding: 4 0 4 10;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.text-field {
    -fx-font-size: 12px;
}

.context-menu {
    -fx-background-color: #EEEEEE;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.333333em 0em 0.333333em 0em; /* 4 1 4 1 */

    /* TODO: the border color below is not being respected - it appears as gray instead of black*/
    -fx-border-color: #212121;
    -fx-border-style: solid;
    -fx-border-width:0.5px;
}

.context-menu .separator .line{
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;  /*0 4 0 4 */
    -fx-border-style: solid;
    -fx-background-color: #c2c2c2;
    -fx-border-width: 0.2px;
}

.padding {
    -fx-padding: 10 10 10 10;
}

.invalid-field {
    -fx-border-color:red;
    -fx-border-width:1px;
}

.valid-field {
    -fx-border-color:green;
    -fx-border-width:1px;
}



.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
}

.tab {
    -fx-background-color: #EEEEEE;
    -fx-background: #EEEEEE;
    -fx-padding: 5 5 5 5;
    -fx-border-color: #BBBBBB #BBBBBB #BBBBBB #BBBBBB;
}

.tab:selected {
    -fx-border-color: #BBBBBB #BBBBBB transparent #BBBBBB;
}

.tab:hover {
    -fx-cursor:hand;
}

.tab-content-area {
    -fx-background-color: #EEEEEE;
}

.general-tab {
    -fx-background-color: #EEEEEE;
    -fx-background-image: url("images/logo_getari.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.tab-pane *.tab-header-background {
    -fx-background-color: derive(#EEEEEE, -10%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.1) , 4, 0.0 , 0 , 0);
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane *.split-pane-divider {
   -fx-border-color: transparent #BBBBBB transparent #BBBBBB;
   -fx-background-color: transparent, -fx-inner-border-horizontal;
}
.split-pane {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.toolBar {
    -fx-background-color: #aaaaaa,  linear-gradient(#EEEEEE, #cccccc);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background: #EEEEEE;
    -fx-base: #EEEEEE;
}

.mainToolBar {
    -fx-padding: 10px;
    -fx-background-image: url("images/getari-header-black.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}

.mainToolBar .label {
    -fx-text-fill:white;
}

.mainToolBar .mainMenu {
    -fx-font-size: 12px;
}


/*
 * Menu.
 */
.menu-bar, .menu-bar:hover {
    /* The menu bar itself */
    -fx-background-color : transparent;
}

.mainToolBar .menu:hover {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.mainToolBar .menu:showing {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}

.mainToolBar .menu  .label {
    -fx-font-size: 12px;
    -fx-text-fill:white;
}

.mainToolBar .menu:disabled .label {
    -fx-font-size: 12px;
}

/*
 * Menu item
 */
.split-menu-button .menu-item,
.mainToolBar .menu .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.3em 0.5em 0.3em 0.5em;
    -fx-cursor: hand;
}

.split-menu-button .menu-item .label,
.mainToolBar .menu .menu-item .label {
    -fx-font-size: 12px;
    -fx-padding: 0em 0.5em 0em 0em;
    -fx-text-fill: #212121;
}

.mainToolBar .menu .menu-item:disabled .label {
    -fx-text-fill: red;
}

.split-menu-button .menu-item:hover .label,
.mainToolBar .menu .menu-item:hover .label {
    -fx-text-fill: grey;
}

.climatic-column {
    -fx-border-color:gray;
    -fx-border-style:solid;
    -fx-border-width:1px;
}

.activ-column {
    -fx-text-fill:green;
    -fx-border-color:gray;
    -fx-border-style:solid;
    -fx-border-width:1px;
}

.inactiv-column {
    -fx-text-fill:red;
    -fx-border-color:gray;
    -fx-border-style:solid;
    -fx-border-width:1px;
}

.activ-column:hover, .inactiv-column:hover {
    -fx-border-color:gray;
    -fx-border-style:solid;
    -fx-border-width:2px;
}

.arrow{
    -fx-stroke-width:2;
}

.combo-text{
    -fx-font-size: 10px;
    -fx-padding:0px 0px 0px 5px;
}

.indicator-text{
    -fx-font-size: 12px;
    -fx-text-fill:black;
    -fx-fill:black;
}

.indicator-text-selected {
    -fx-font-size: 12px;
    -fx-text-fill:#314882;
    -fx-fill:#414040;
}

.toolBar-Pane .label {
    -fx-text-fill: black;
}

.toolBar-Pane {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 10 10 10 10;
    -fx-width:100%;
}

.toolBar-Pane .invalid {
    -fx-text-fill:red;
    -fx-padding: 10 10 10 10;
}

.toolBar-Pane .valid {
    -fx-text-fill:green;
    -fx-padding: 10 10 10 5;
}

.indicator-box{
    -fx-background-color:linear-gradient(white, lightgrey);
    -fx-border-color:gray;
    -fx-border-style:solid;
    -fx-border-width:1px;
    -fx-border-radius:10;
    -fx-background-radius:10;
}

.stroke {
    -fx-border-color:grey;
    -fx-border-style:solid;
    -fx-border-width:5px;
}

.detailed-pane {
    -fx-border-color:grey;
    -fx-border-style:solid;
    -fx-border-width:5 5 5 5;
}

.right-pane {
    -fx-background-color: #EEEEEE;
    -fx-background: #EEEEEE;
    -fx-font-size: 12px;
}

.graphPane {
    -fx-padding: 0 0 0 0;
/*     -fx-margin: 20 20 20 20; */
/*     -fx-background-color: #EEEEEE; */
    -fx-hgap: 0; -fx-vgap: 0;
}

.scrollPane {
    -fx-background-image: url("images/grid.png");
    -fx-background-repeat: repeat;
    -fx-background-position: left;
    -fx-border-color:grey;
    -fx-border-style:solid;
    -fx-border-width:1px;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.graph-header {
    -fx-background-color: #EEEEEE;
    -fx-padding : 0 0 0 20;
}

.graph-header .label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.grid-button-pane{
    -fx-background-color: rgba(255,255,255,0.5);
}

.scroll{
    -fx-background-color: white;
}

.border{
    -fx-border-color: red;
    -fx-border-width: 1 ;
    -fx-border-style: solid;
}

.flowPaneButtonBar{
    -fx-border-color: red;
    -fx-border-width: 1 ;
    -fx-border-style: solid;
    -fx-hgap:10;
    -fx-vgap:20;
    -fx-padding-right: 10;
    -fx-padding-left: 10;
}

.computed {
    -fx-fill:white;
}

.rectangle{
    -fx-fill:#79AD05;
}

.leftPanel{
    -fx-background-color: #336699;
}
.bottomPanel{
    -fx-background-color: #336699;
}

/* bordered titled pane */
.bordered-titled-title {
    -fx-translate-y: -12;
    -fx-translate-x: 20;
}

.bordered-titled-border {
    -fx-content-display: center;
    -fx-border-insets: 15 0 15 0;
    -fx-border-color: grey;
    -fx-border-width: 1;
}
.bordered-titled-no-border {
    -fx-border-width: 0;
}
.border-detailed-titled-content{
    -fx-padding: 10 10 10 10;
}

.bordered-titled-content {
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(255,255,255,0.8);
}

.generalPane {
    -fx-padding: 20 20 20 20;
    -fx-border-color: grey;
    -fx-border-width: 1px 1px 0px 0px;
    -fx-border-style: solid;
}

.logPane {
    -fx-padding: 10 10 10 10;
/*      -fx-background-color: #b7b5b5; */
    -fx-border-color: red;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-style: solid;
}

.errorLabel, .warningLabel {
    -fx-background-color: #EEEEEE;
}

.errorLabel:selected, .warningLabel:selected {
    -fx-background-color: #FFFFFF;
}

.header {
    -fx-background-color: #9a9595;
}

.headerLabel {
    -fx-background-color: #9a9595;
    -fx-text-fill:white;
    -fx-padding: 0 0 0 5;
}

.headerParent {
    -fx-text-fill:red;
    -fx-padding: 0 0 0 5;
    -fx-font-size: 8px;
}

.cheader {
    -fx-background-color: #c3bfbf;
    -fx-text-fill:white;
    -fx-padding: 0 0 0 5;
}

.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    /* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#region */
    -fx-background-position: right 1px;
    -fx-background-repeat: no-repeat;
}

#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
#window-close:focused, #window-min:focused , #window-max:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.7 , 0 , 0 );
}
/* move buttom arrow up to make room for window rewsize button */
.application .noborder-scroll-pane > * > .scroll-bar:vertical {
    -fx-padding: -1.0 -1.0 12 0.0;
}
.application .web-view-window-corner .scroll-bar:vertical {
    -fx-padding: 0 0 12 0;
}

.chart {
    -fx-padding: 5 5 5 5;
}
.chart-plot-background {
    -fx-background-color:#EEEEEE;
    -fx-border-color: #EEEEEE;
}
.chart-series-line {
    -fx-stroke-width: 2px;
}

.default-color0.chart-series-line {
    -fx-stroke: black;
}
.chart-line-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-area-symbol {
    -fx-background-color: white;
}
.chart-series-area-line {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}
.chart-series-area-fill {
    -fx-fill: linear-gradient(to right, white, rgba(255,255,255,0));
    -fx-blend-mode: OVERLAY;
}
.axis {
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-border-color: transparent;
}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis Text{
    -fx-fill: black;
}
.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}

.green-bar {
     -fx-box-border: forestgreen;
     -fx-accent: green;
     -fx-control-inner-background: palegreen;
}

.combo-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 2 0 2 0;
}

